<%= form_with(model: register) do |form| %>

    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 720px;">
            <%= render "shared/logopage", header: "", tagline: "" %>
            <form>
                <div class="form-group">
                    <%= form.label :Last_Name %>
                    <%= form.text_field :LastName, :class => "form-control", :placeholder => "Last Name"%>
                </div>
                <div class="form-group">
                    <%= form.label :First_Name %>
                    <%= form.text_field :FirstName, :class => "form-control", :placeholder => "First Name"%>
                </div>
                <div class="form-group">
                    <%= form.label :Email %>
                    <%= form.text_field :Email, :class => "form-control", :placeholder => "Email Address"%>
                </div>
                <div class="form-group">
                    <%= form.label :Password %>
                    <%= form.password_field :Password, :class => "form-control", :placeholder => "Password"%>
                </div>
                <div class="form-group">
                    <%= form.label :Repeat_Password %>
                    <%= form.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirm Password"%>
                </div>
                <div class="form-group">
                    <%= form.label :Gender %>
                    <%= form.select :gender, [["Choose", "Not Stated"], ["Male", "Male"], 
                    ["Female", "Female"], ["Others", "Others"]], :selected =>"Not Stated", :class=> "form-control" %>
                </div>
                <div class="form-check">
                    <%= form.check_box :termsAndCondition %>
                    <%= form.label :I_agree_with_the_terms_and_conditions %>
                </div>
                <div class="actions">
                    <%= form.submit :class=> "btn btn-primary", :value=> "Submit" %>
                    <%= button_tag "Reset", type: :reset , :class=> "btn btn-danger" %>
                </div>
                <p class="divider-text">
                    <span class="bg-light">OR</span>
                </p>
                <a href="/login" class="btn btn-block">Already have an account?</a>
            </form>
        </article>
    </div> <!-- card.// -->
    <!--container end.//-->
<% end %>